.App {
  text-align: center;
 
}
body{
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);

}
#output{
  align-self: flex-end;
  width: 100%;
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
  position: relative;
  top: 30px;
  color: rgb(206, 255, 196);
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#display{
  align-self: flex-end;
  width: 100%;
  text-align: right;
  color: rgb(255, 255, 255);
  min-height: 30px;
  height:fit-content;
  position: relative;
  top:20px;
  padding-right: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  overflow-wrap: break-word;
}
/* #display span{
  background-color: #0e5f75;
} */
@keyframes mymove {
  0%   {top: 0px;}
  25%  {top: 200px;}
  50%  {top: 100px;}
  75%  {top: 200px;}
  100% {top: 0px;}
}

#calculator{
  background-color: #282c34;
  display: flex;
  height: 350px;
  width: 300px;
  flex-flow: row wrap;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15%;
  border-radius: 10%;
}
.key:hover{
  background: steelblue;
  transition: all 0.1s ease-out;
}
#clear{
  background-color: tan;
  z-index: 1;
  position: relative;
}
#equals{
  background-color:forestgreen;
}
#clear:hover{
  background: tomato;
}
#equals:hover{
  background: yellowgreen;
}
.key{
  box-sizing: border-box;
  height: 50px;
  width: 25%;
  background: rgb(207, 211, 252);
  line-height: 50px;
  border:1px hidden rgba(128, 128, 128);
  user-select: none;
  border-radius: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

#clear{
  margin-right: 75%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
